@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Red+Hat+Display:wght@800;900&family=Roboto+Mono&display=swap');

body {
    background-color: black;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-bottom: 2px solid #2c2c2c;
    ;
}

nav ul {
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace; */
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 70px;
}

nav ul li {
    padding: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.brand img {
    width: 46px;
}

.contact button {
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace; */
    font-family: 'Red Hat Display', sans-serif;
    margin-right: 15px;
    height: 34px;
    width: 170px;
    font-size: 1.3rem;
    border-width: 0px;
    border-radius: 17px;
    background-color: #1DB954;
}

.contact button:hover {
    background-color: #4ddf5d;
}

.container {
    min-height: 40vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(360deg, rgba(0, 0, 0, 1) 66%, rgba(39, 44, 44, 1) 90%, rgba(52, 60, 64, 1) 100%);
    font-family: 'Red Hat Display', sans-serif;
    width: 50%;
    padding: 40px;
    padding-top: 20px;
    color: white;
}

.container h1 {
    font-size: 4rem;

}
.container p{
    padding-bottom: 20px;
    opacity: 50%;    
}

.heros{
    border-bottom:2px solid #2c2c2c;
    margin-bottom: 30px;

}

.bottom {
    position: sticky;
    background-color: #181818;
    height: 120px;
    border-top: 2px solid #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    bottom: 0;
}

#myProgressBar {
    width: 40vw;
    cursor: pointer;
}

.icons {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.icons i {
    cursor: pointer;
}

.change-buttons {
    opacity: 50%;
}

.change-buttons:hover {
    opacity: 100%;
}

.songItem {
    display: flex;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    border: 0;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    margin-bottom: 16px;
}

.songItem:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.songItem img {
    width: 40px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;

}

.songlistplay {
    padding-right: 10px;
}

.songlistplay i {
    cursor: pointer;
}

.timestamp {
    margin-right: 10px;
}

.middle {
    display: flex;
}

.banner {
    width: 50%;
    opacity: 80%;
}

.banner img {
    width: 100vh;
}

.songInfo {
    position: absolute;
    left: 2.5vw;
    font-family: 'Red Hat Display', sans-serif;
}

.now {
    position: absolute;
    left: 2.5vw;
    height: 70px;
    font-family: 'Red Hat Display', sans-serif;
    color: grey;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.bottom input {
    background: linear-gradient(to right, #1DB954 0%, #1DB954 50%, #fff 50%, #fff 100%);
    border-radius: 0px;
    height: 4px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;

}

.bottom input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
}